.authors .search-tutor {
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.authors .search-tutor input {
  width: 100%;
  background: none;
  font-size: 1.8rem;
  color: var(--black);
}

.authors .search-tutor button {
  font-size: 2rem;
  color: var(--black);
  cursor: pointer;
  background: none;
}

.authors .search-tutor button:hover {
  color: var(--main-color);
}

.authors .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}
